[submodule "src/driver/GPIO"]
	path = src/driver/GPIO
	url = https://github.com/bobvann/GPIOSim.git
[submodule "src/driver/pwm"]
	path = src/driver/pwm
	url = https://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library.git
